{% extends "layout.html" %}

{% load static %}

{% block title %}
    My Events
{% endblock  %}

{% block content %}

    <div class="myeventpage">
        <div class="myeventpage1">
            <div class="myeventpage1"><h3>{{theevent.title}}</h3>
                
            </div>
            <div class="myeventpage1"><img src="{{theevent.banner.url}}" alt="" srcset=""></div> 
            <div class="myeventpage1"><p>{{theevent.body1}}</p></div>
            <div class="myeventpage1"><p>{{theevent.body2}}</p></div>
            <div class="myeventpage1"><p>{{theevent.body3}}</p></div>
            <div class="myeventpage1"><p>{{theevent.body4}}</p></div>
           
        </div>
        <div class="myeventpage1">2
            
            
        </div>
        
    </div>

{% endblock  %}
