{% extends "layout.html" %}
{% load static %}
{% block title %}
    Home
{% endblock  %}

{% block content %}
    
    <div class="hero1">
        <div class="hero2">
            <h1>Empower Your Knowledge, One Event at a Time</h1>
            <p>Discover <br> <hr> Learn <br> <hr> Grow <br> <hr> With Our Expert-Led Workshops</p>

        </div>
        <div class="hero2">
            <img src="{% static "images/events.jpg" %}" alt="" srcset="">
        </div>
    </div>
    

    <div class="events1">
        <div class="events0">
            <div class="events2">
                <img src="{% static "images/developer.png" %}" alt="">
            </div>
            <div class="events3"><p>Code Your Future</p></div>
        </div>
        <div class="events0">
            <div class="events2">
                <img src="{% static "images/school.png" %}" alt="">
            </div>
            <div class="events3"><p>Trainings</p></div>
        </div>
        <div class="events0">
            <div class="events2">
                <img src="{% static "images/work.png" %}" alt="">
            </div>
            <div class="events3"><p>Jobs</p></div>
        </div>
        <div class="events0">
            <div class="events2">
                <img src="{% static "images/volunteer.png" %}" alt="">
            </div>
            <div class="events3"><p>Volunteer</p></div>
        </div>
        <div class="events0">
            <div class="events2">
                <img src="{% static "images/account.png" %}" alt="">
            </div>
            <div class="events3"><p>Fundraising</p></div>
        </div>
        <div class="events0">
            <div class="events2">
                <img src="{% static "images/content.png" %}" alt="">
            </div>
            <div class="events3"><p>Find Events</p></div>
        </div>

        
        
    </div>

    <div class="topevents0"><h3>Top Trending Upcoming Events</h3></div>
    <div class="topevents">
        
        <div class="topevents1">
            <h2>Web Development Bootcamp: Build Your First Web App in 10 Weeks</h2>
            <img src="{% static "images/webi.webp" %}" alt="" srcset="">
            <p>Want to create your own websites or web apps? Our 10-week Web Development Bootcamp teaches you everything you need to know about building interactive, responsive websites. From learning HTML and CSS to working with JavaScript and web frameworks, you’ll master the tools to develop dynamic web applications. Plus, our hands-on approach ensures you’ll have a project portfolio ready to show potential employers.</p>
            <button type="submit"><a href="{% url "events:upcoming" %}">READ MORE</a></button>
        </div>
        <div class="topevents1">
            <h2>Become a Data Scientist with Our 12-Week Data Science Bootcamp</h2>
            <img src="{% static "images/web3.jpg" %}" alt="" srcset="">
            <p>Unlock the power of data and become a Data Scientist in just 12 weeks with our immersive bootcamp. From data analysis and machine learning to data visualization and statistical modeling, this course covers everything you need to know. Learn from expert instructors and work on real-world datasets to build a solid portfolio.</p>
            <button type="submit"><a href="{% url "events:upcoming" %}">READ MORE</a></button>
        </div>
        <div class="topevents1">
            <h2>Master Python in Our Coding Bootcamp for Beginners</h2>
            <img src="{% static "images/web5.jpg" %}" alt="" srcset="">
            <p>Are you new to programming? Start your coding journey with our beginner-friendly Python bootcamp! In just 8 weeks, you’ll go from zero knowledge to writing your own Python scripts and solving real-world problems. Learn the fundamentals of programming, object-oriented design, data analysis, and more. Whether you want to switch careers or enhance your skillset, this course is perfect for you.</p>
            <button type="submit"><a href="{% url "events:upcoming" %}">READ MORE</a></button>
        </div>
        <div class="topevents1">
            <h2>Accelerate Your Tech Career with Our Full Stack Programming Bootcamp</h2>
            <img src="{% static "images/web4.jpg" %}" alt="" srcset="">
            <p>Ready to become a full-stack developer? Our 16-week bootcamp is designed for aspiring developers who want to learn both front-end and back-end technologies. From mastering HTML/CSS and JavaScript to understanding databases, APIs, and cloud technologies, you'll gain the expertise to build modern, scalable web applications. With real-time coding exercises, mentorship, and career support, you’ll be ready for your first developer job in no time.</p>
            <button type="submit"><a href="{% url "events:upcoming" %}">READ MORE</a></button>
        </div>

    
    </div>

    <div class="topevents0"><h3>Top destinations in United Kingdom</h3></div>
    <div class="topevents">
        
        <div class="topevents1">1</div>
        <div class="topevents1">2</div>
        <div class="topevents1">3</div>
        <div class="topevents1">4</div>

    
    </div>
    

{% endblock  %}